services:
  airport:
    build:
      context: .
      dockerfile: backend/Dockerfile
    working_dir: /app
    env_file:
      - backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./backend/my_media:/files/media
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    tty: true
    stdin_open: true
    depends_on:
      - db

  db:
    image: postgres:16.0-alpine3.18
    restart: always
    env_file:
      - backend/.env
    ports:
      - "5432:5432"
    volumes:
      - my_db:/var/lib/postgresql/data

volumes:
  my_db:
